/* Enter your custom styles here */
.customObjectStatus {
    font-size: 15px !important; /* Medium boyut için */
    /* Diğer stil özellikleri */
}

.customStateCritical {
    color: #FF0000 !important; /* Kırmızı */
    font-size: 15px !important;
}

.customStateWarning {
    color: #FFA500 !important; /* Turuncu */
    font-size: 15px !important;
}

.customStateSuccess {
    color: #008000 !important; /* Yeşil */
    font-size: 15px !important;
}

.customStateInformation {
    color: #0000FF !important; /* Mavi */
    font-size: 15px !important;
}

.customLink {
    color: black !important; 
    text-decoration: none !important; 
    user-select: none !important;
    background-color: transparent !important; 
}

.customLink:active {
    background-color: transparent !important; 
}
.redButton {
    background-color: red !important;
}

.myAvatar {
  border-radius: 10% !important;
  width: 90px !important;
  height: 90px !important;
}

.key0 {
    color: red; /* Başlanmadı */
}

.key1 {
    color: yellow; /* Beklemede */
}

.key2 {
    color: blue; /* Devam ediyor */
}

.key3 {
    color: green; /* Tamamlandı */
}

.customText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}

#employeeTable {
    width: 100%;
    table-layout: fixed;
}


.sapMListTblRowSingleSelectLeft .sapMText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



#logTable{
    width: 100%;
    table-layout: fixed;
}

.centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    z-index: 1000; /* Yüksek z-index değeri, diğer içeriklerin üstünde durmasını sağlar */
}







